#hero {
  background:linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("../images/Banner\ Image.png");
  color: white;
  height: 600px;
  margin: 50px 140px 120px 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  text-align: center;
}

.container .sub-title {
  font-size: 32px;
  color: #ffffff;
}

.container .title {
  font-size: 72px;
  color: #ffffff;
  margin-top: 16px;
}


/* New Year Section Styling */

.new-year{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 806px;
  margin-bottom: 120px;
}


.new-year .title {
  font-size: 88px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 48px;
}

.new-year .description {
  font-size: 24px;
  font-weight: 400;
  color: #ff0000;
  margin-bottom: 16px;
}

.new-year .sub-title {
  font-size: 48px;
  font-weight: bold;
  color: #070311;
  margin-bottom: 48px;

}

/* Welcome Styling */

.welcome{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("../images/Vectorrr.png") no-repeat ;
  background-size: cover;
  height: 600px;
  margin: 120px 140px;

}

.welcome .container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: left;
}

.welcome .title {
  font-size: 64px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 126px;
  width: 642px;
}

.welcome .description {
  font-size: 18px;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 48px;
  margin-left: 126px;
  width: 697px;
}

.welcome .sub-title {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 158px;
  cursor: pointer;
}

.welcome .sub-title:hover{
  color: aqua;
  box-shadow: rgba(0, 0, 0, 0.25) ;
}

.red {
  color: #ff0000;
}

/* About Styling */
.about {
  background: linear-gradient(#ff00002a, #fff);
  height: 482px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 482px;
  margin: 120px 140px;
}


.about .description{
  font-size: 32px;
  font-weight: 400;
}

.about .sub-title {
  font-size: 20px;
  color: #ffffff;
  background-color: #ff0000;
  border: #000;
  border-radius: 8px;
  padding: 16px 32px;
  margin-top: 64px;
}


/* offer styling */

.offer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 463px;
  margin: 120px 140px;
  gap: 70px 118px;
}


.offer .column-sub-title{
  font-size: 24px;
  font-weight: 300;
  color: #FF0000;
  margin-bottom: 16px;
}

.offer .column-title {
  font-size: 48px;
  font-weight: 800;
  color: #070311;
  margin-bottom: 22px;
}

.offer .column-description {
  font-size: 20px;
  font-weight: 100;
  color: #5d5c5e;
  width: 393px;
  
}

.offer .column-2-image {
  border: #FF0000 10px solid;
  border-radius: 50%;
  padding: 20px;
}


.offer .column-3-title {
  font-size: 48px;
  font-weight: 600;
  color: #ff0000;
  margin-bottom: 16px;
}


.offer .column-3-description {
  font-size: 20px;
  font-weight: 100;
  color: #5d5c5e;
  width: 276px;
  margin-bottom: 43px;
  
}

.offer .column-3-image {
  width: 140px;
  height: 140px;
}
